body {
     margin: auto;
     padding: 0;
     font-family: sans-serif;
}

.site-container {
     background-color: black;
     color: white;

}

.event-container {
     margin: 0px 3% 0px 3%;
     padding-top: 75px;
     padding-bottom: 75px;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-gap: 8px;
     grid-auto-rows: minmax(150px, auto);

}

.item {
     background-color: whitesmoke;
     color: black;
}

.top-nav {
     position: fixed;
     width: 100%;
     background-color: black;
     height: 8%;
}

h1 {
     position: fixed;
     left: 3%;
     top: 5px;
     margin: 0;
     padding: 0;
     color: white;
     font-size: 20px;
     text-align: left;
     font-family: sans-serif;
}

input[type=text] {
     position: fixed;
     right: 5%;
     top: 0;
     padding: 5px;
     font-size: 12px;
     border: none;
     float: right;
     width: 20%;
     text-align: right;
     background: black;
     color: white;
     border: 1px black solid;
}

form.example button {
     position: fixed;
     right: 0;
     top: 0;
     width: 5%;
     padding: 5px;
     background: darkgrey;
     color: black;
     font-size: 12px;
     cursor: pointer;
     color: white;
     border: 1px black solid;
     border-left: none;
}

form.example button:hover {
     background-color: red;
}

form.example::after {
     content: "";
     clear: both;
     display: table;
     background: black;
     color: black;
}

.foot-nav {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     color: white;
     height: 8%;
     text-align: center;

}

.but-container {
     width: 100%;
     position: fixed;
     bottom: 0;
     background-color: black;
     display: grid;
     grid-template-columns: auto auto auto;
     grid-gap: 5px;

}

.button {
     height: 50px;
     text-align: center;
     line-height: 0.1;

}

.fa-map-marked-alt .fa-bullhorn {
     display: block;
     font-size: 35px;
     text-align: center;
     margin: auto;
     color: red;
}


h4 {
     font-size: 0.8em;
     vertical-align: sub;
}

.button:hover {
     background-color: red;
}

.button:active {
     background-color: red;
}
