body {
     margin: auto;
     padding: 0;
     font-family: sans-serif;
}

.site-container {
     background-color: black;
     color: white;

}

.event-container {
     margin: 0px 3% 0px 3%;
     padding-top: 75px;
     padding-bottom: 75px;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-gap: 8px;
     grid-auto-rows: minmax(150px, auto);

}

.item {
     background-color: whitesmoke;
     color: black;
}
